// For variables
@import "variables/variables";

// For Typhography
@import "typhography/fonts";
@import "typhography/notification";
@import "typhography/alert";
@import "typhography/button";
@import "typhography/container";

// For sidebar
@import "bar/sidebar";

// For pages
@import "pages/auth";
@import "pages/chatbox";

html, body, #app {
  background-color: #ebebeb;
  height: 99%;
}

* {
  font-family: Roboto;
}