@media (min-width: 360px) {
  .container {
    padding: 1%;
    height: 93vh;
    grid-template-columns: 15% 85%;
    grid-gap: 1%;
    display: grid;
  }
}
@media screen and (min-width: 1048px) {
  .container {
    padding: 1%;
    height: 93vh;
    grid-template-columns: 4.5% 30% 63.8%;
    grid-gap: 1%;
    display: grid;
  }
}